.wrapper {
  width: 100%;
  height: 130%;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 5px 6px 16px 0px rgba(42, 42, 42, 0.16);
}

.link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.name {
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.descr {
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.active {
  border: 1px solid red;
}